<%= form_for(@myapi) do |f| %>
  <% if @myapi.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myapi.errors.count, "error") %> prohibited this myapi from being saved:</h2>

      <ul>
      <% @myapi.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
