
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
  		<div class="panel panel-default">
		  <div class="panel-body">
		       <h3 style="text-align:center;">Thanks for your request :)</h3>
		       <p> 
		       	Ebuy Admin team will contact you for request product very soon.
		       </p>
		  </div>
		</div>
  </div>
  <div class="col-md-4"></div>
</div>


