<div class="panel panel-default">
  <div class="panel-body">
    		<div class="col-md-12">
    		<h3>Edit Coupon</h3>
    		<hr/>
    		</div>

			<%= render 'form' %>
			 <div class="col-md-12">
			<%= link_to 'Back', coupons_path %>
			</div>

  </div>
</div>

