

		<% if !@product.notice.nil? %>


					  <%= @product.notice.html_safe %>
		<% end %>





<script type="text/javascript">
	


$( document ).ready(function() {


$('p').each(function(){
   $(this).html( $(this).html().replace(/((http|https|ftp):\/\/[\w?=&.\/-;#~%-]+(?![\w\s?&.\/;#~%"=-]*>))/g, '<a href="$1">$1</a> ') );
});


});

</script>