


					  <% if !@product.question.nil? or !@product.answer.nil? %>


					 <% @product.question.zip ( @product.answer).each do |question, answer| %>

						  <p class="my_question"><%= question %></p>
						  <p class="my_answer"><%= answer %></p>
					<% end %>


					<% end %>


