<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  				<h3 class="the_header">About us</h3><hr/>
  				<p> eBuy Myanmar is a registeted company in Myanmar and it was established in 2016. eBuy Myanmar is trying to leade big online marketplace in Myanmar. Varieties of products are available to be purchased directly from eBuy Myanmar online store with ease and the company is taking full eesponsibility on home delivery of purchased items in term of quality with fair price. </p>

  		
  				<p>Products in eBuy Myanmar are imported directly from Singapore, United States, South Korea, Japan, Hong Kong, China, Taiwan , Malaysia  and etc. Products those manufactured in Myanmar are also available in eBuy Myanmar online store. </p>

          <p>Products on sale are able to be searched at www.ebuymyanmar.com at web page. Facebook page is also available at fb.me/ebuymyanmargruop and latest product informations and notifications can be received by clicking "Like" on the page. </p>


            
            <h3 class="the_header">Office Address</h3><hr/>
  No.221/59, 1st Floor,<br/>
  Shwe Wah Myay Street,Boho Middle Road, <br/>
  Mayangone Township,Yangon,Myanmar.<br/>

  <h3 class="the_header">Warehouse Address 1</h3><hr/>
  No.16, Thakhin Khin Street, <br/>
  Pyi Htaung Su Main Road, 
  North Dagon Township, Yangon, Myanmar.<br/>


  <h3 class="the_header">Warehouse Address 2</h3><hr/>
  Block 8,No.6B, Theinni Street,<br/>
  Lower Kyeemyindaing Road, <br/>
  Kyeemyindaing Township, <br/>
  Yangon, Myanmar.<br/>


  <h3 class="the_header">Contact</h3><hr/>
​Tel: 09779825801, 09779825802, 01580556<br/>
​Viber and WhatsApp: +959779825801, +959779825802, +6598763439<br/>
​Facebook Messenger: m.me/ebuymyanmargroup<br/>
​Email: enquiry@ebuymyanmar.com, product@ebuymyanmar.com, ​​​​​service@ebuymyanmar.com<br/>


  <h3 class="the_header">Website and Facebook Page</h3><hr/>
​Web Page: www.ebuymyanmar.com<br/>
​Facebook Page: fb.me/ebuymyanmargroup<br/>
				</p>  		<br/><br/><br/><br/>

  		</div>
  </div>
</div>



    
  

