<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  				<h3 class="the_header">About us</h3><hr/>
  				<p>Giosis Pte. Ltd. is a joint venture company formed with eBay, the world's largest online marketplace, to become Asia's leading online marketplace. Giosis Group provides a powerful online marketplace platform that allows its buyers enjoy highly secure and convenient shopping experience. Giosis Group currently operates 7 localized online marketplaces in 5 countries including Japan (http://www.qoo10.jp)and Singapore(http://www.qoo10.sg)and plans to expand into more Asian countries in the near future. </p>

  			    <h3 class="the_header">Vision</h3><hr/>
  				<p>Our vision is to bring together diverse buyers and sellers worldwide and improve life everywhere. We will strive to provide enjoyable and great shopping experience.</p>

  				<h3 class="the_header">Contact</h3><hr/>
  				<p>5 Tampines Central 1 #04-04 Tampines Plaza Singapore 529541<br/>
					Tel: 65 6500 4440<br/>
					Fax : 65 6735 3487<br/>
					Customer Service : Ask a Question<br/>
					Partnership : qoo10@qoo10.sg
				</p>  		<br/><br/><br/><br/>

  		</div>
  </div>
</div>