<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  				<h3 class="the_header">Contact us</h3><hr/>
  				
  			   
  		</div>

  		 <div class="col-md-7">

  		 			<p>Contact Ebuy Myanmar by email, phone or chat. Mail address, telephone numbers and customer care for Myanmar.</p>

  		            <form method="post" action="#">
                        
                       <div class="form-group">
					    <label for="exampleInputEmail1">Name</label>
					    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter full name">
					  </div>


						<div class="form-group">
						   <label for="exampleInputEmail1">Email address</label>
						   <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
						 </div>


						<div class="form-group">
						   <label for="exampleInputEmail1">Phone</label>
						   <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter phone number">
						 </div>

						<div class="form-group">
						   <label for="exampleInputEmail1">Message</label>
						   <textarea class="form-control" rows="10"></textarea>
						 </div>


                        <button type="submit" class="btn btn-default">Send</button>
                    </form><br/><br/><br/>

  		 </div>

  		  <div class="col-md-5">
  		    <p> We are here </p>

  		  </div>



  </div>
</div>