
<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  			<h3 class="the_header"><%= t('How to Buy/Order') %></h3><hr/>
  		</div>

  		 <div class="col-md-12">




				<p>If you wish to purchase a selected product, please click 'Buy Now' below the product and proceed for Checkout and Payment. If you wish to keep going on shopping and place the selected product in the cart temporarily, please click 'Add to Cart' and proceed to search for other items. Once all selected products has been added to the cart, please click 'Cart' and you will see all selected items listed with total price calculated. If you are confirmed to purchase the items, please click 'Proceed to Checkout' and you will reach to 'Payment' page. Please refer to 'Payment' at 'Help Topic 7' for making payment.</p>



  		 </div>

  </div>
</div>