
<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  			<h3 class="the_header"><%= t('Payment') %></h3><hr/>
  		</div>

  		 <div class="col-md-12">




   
			<p>There are four options for making payment. They are </p>

			<p>Cash Deposit  </p>

			<p>Bank Transfer  </p>

			<p>MPU  </p>

			<p>Visa/Master </p>

			<p>Cash Deposit  </p>

			<p>If you choose 'Cash Deposit' for payment, you will have to fill up your required personal informations and the click 'Proceed to Pay'. Order confirmation email with invoice will be sent to your mail box. You are required to make cash payment at the company office by showing the invoice. The company will proceed for purchase order once full payment has been received. </p>

			<p>The company address and contacts are stated in 'Contact' at home page. </p>

			<p>Bank Transfer </p>

			<p>If you choose 'Bank Transfer' for payment, you will have to fill up your required personal informations and the click 'Proceed to Pay'. Order confirmation email with invoice will be sent to your mail box. You are required to make account transfer to any eBuy Myanmar account number stated in your invoice. The company will proceed for purchase order once full payment has been received.  </p>

			<p>You may proceed to the nearest bank outlet for account transfer or you may also use internet banking for it. You are required to inform the company for complete transaction by making a call, giving a message or sending an email. </p>

			<p>All company contacts are stated in 'Contact' at home page.  </p>

			<p>MPU </p>

			<p>If you choose 'MPU' for payment, you will have to fill up your required personal informations and the click 'Proceed to Pay'. You are required to fill up datas mentioned on your card and click 'Proceed to Pay'. Order confirmation email with invoice will be sent to your mail box.   </p>

			<p>The currency for the use of MPU card is Myanmar Kyats 'MMK'. </p>

			<p>Visa/Master </p>

			<p>If you choose 'Visa/Master' for payment, you will have to fill up your required personal informations and the click 'Proceed to Pay'. You are required to fill up datas mentioned on your card and click 'Proceed to Pay'. Order confirmation email with invoice will be sent to your mail box.  </p>

			<p>The currency for the use of Visa/Master card is US Dollars, 'USD' </p>



  		 </div>

  </div>
</div>

<br/><br/><br/><br/><br/><br/>