



<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  				<h3 class="the_header">
          <%= t('privacy') %>
          </h3><hr/>
  				
  			   
  		</div>

  		 <div class="col-md-12">



  		 		<p>eBuymyanmar.com.com is electronic commerce platforms are predominantly used by business entities to facilitate electronic commerce and such business use does not generally involve the collection of personal information of individuals. eBuymyanmar.com recognizes the importance of privacy as well as the importance of maintaining the confidentiality of personal information. This Privacy Policy applies to all products and services provided by us and sets out how we may collect, use and disclose information in relation to users of the Sites. </p>

				<p>You may use our services and products via a mobile device either through mobile applications or mobile optimized websites. This Privacy Policy also applies to such use of our services and products. </p>

				<p>All capitalized terms not defined in this document shall have the meanings ascribed to them in the Terms of Use of the Site, which can be found here. If you are a user from mainland China, the eBuymyanmar.com entity that you are contracting with is eBuymyanmar.com Advertising Co., Ltd. If you are a user from Hong Kong and Macau, you are contracting with eBuymyanmar.com.com Hong Kong Limited. If you are a user outside mainland China, Hong Kong and Macau, you are contracting with eBuymyanmar.com.com Singapore E-Commerce Private Limited (“eBuymyanmar.com”, “we”, “us”, “our”). </p><br/>

				<h3 class="the_header"> COLLECTION OF INFORMATION </h3><hr/>

				<p>1. Your privacy is important to us and we have taken steps to ensure that we do not collect more information from you than is necessary for us to provide you with our services and to protect your account.</p>

				<p>2. Information including, but not limited to, user name, address, phone number, fax number, email address, gender, date and/or year of birth and user preferences ("Registration Information") may be collected at the time of user registration on the Sites.</p>

				<p>3. In connection with any transaction and payment services or services under our buyer protection schemes we provide on the Sites, information, including but not limited to, bank account numbers, billing and delivery information, credit/debit card numbers and expiration dates and tracking information from cheques or money orders ("Account Information") may be collected to, among other things, facilitate the sale and purchase as well as the settlement of purchase price of the products or services transacted on or procured through the Sites.</p>

				<p>4. We record and retain details of users’ activities on the Sites. Information relating to such transactions including, but not limited to, the types and specifications of the goods, pricing and delivery information and any trade dispute records (“Activities Information”) may be collected when sale and purchase transactions are conducted on or facilitated through the Sites.</p>

				<p>5. From time to time, we collect information about our users and prospective users during trade shows, industry events and other functions. The information we may collect at these locations may include, but is not limited to, user name, address, phone number, fax number and email address ("Event Information").</p>

				<p>6. We record and retain records of users' buying and browsing activities on our platform including but not limited to IP addresses, browsing patterns and buyer behavioral patterns. In addition, we gather statistical information about the Sites and visitors to the Sites including, but not limited to, IP addresses, browser software, operating system, software and hardware attributes, pages viewed, number of sessions and unique visitors (together "Browsing Information").</p>

				<p>7. Registration Information, Account Information, Activities Information, Event Information and Browsing Information generally relate to business entities and are together referred to as business data (“Business Data”). Insofar and only insofar as they constitute personally identifiable data of living individuals, such information are together referred to as personal data (“Personal Data”).</p>

				<p>8. It is mandatory for users of the Sites to provide certain categories of Business Data and Personal Data (as specified at the time of collection). In the event that users do not provide any or sufficient Business Data and/or Personal Data marked as mandatory, we may not be able to complete the registration process or provide such users with our products or services.</p>

				 
				<h3 class="the_header">USE OF PERSONAL DATA </h3><hr/>


				<p>If you provide any Personal Data to us, you are deemed to have authorized us to collect, retain and use that Personal Data for the following purposes:</p>

				<p>1. verifying your identity;</p>

				<p>2. verifying your eligibility to register as a user of the Sites;</p>

				<p>3. processing your registration as a user, providing you with a log-in ID for the Sites and maintaining and managing your registration;</p>

				<p>4. providing you with customer service and responding to your queries, feedback, claims or disputes;</p>

				<p>5. to facilitate communication between buyers and sellers on the Sites and processing your transactions on the Sites;</p>

				<p>6. performing research or statistical analysis in order to improve the content and layout of the Sites, to improve our product offerings and services and for marketing and promotional purposes;</p>

				
				 

				<h3 class="the_header">DISCLOSURE OF PERSONAL DATA </h3><hr/>


				<p>1. You further agree that we may disclose and transfer (whether within or outside the jurisdiction of the eBuymyanmar.com entity that you are contracting with) your Personal Data to service providers engaged by us and/or other affiliated companies of the eBuymyanmar.com Group to assist us with providing you with our services (including but not limited to data entry, database management, promotions, products and services alerts, delivery services, payment extension services, membership authentication and verification services and logistics services) ("Service Providers"). These Service Providers are under a duty of confidentiality to us and are only permitted to use your Personal Data in connection with the purposes specified at B.1 to B.9 above, and not for their own purposes.</p>

				<p>2. You agree that we may disclose and transfer (whether within or outside the jurisdiction of the eBuymyanmar.com entity that you are contracting with), for the purposes specified at B.1 to B.9 above, your Personal Data to other affiliated companies and/or their designated Service Providers of the eBuymyanmar.com Group, which comprises a group of companies operating leading online and mobile marketplaces in consumer and business-to-business commerce, as well as cloud computing and other services. </p>

				<p>3. When necessary we may also disclose and transfer (whether within or outside the jurisdiction of the eBuymyanmar.com entity that you are contracting with) your Personal Data to our professional advisers, law enforcement agencies, insurers, government and regulatory and other organizations for the purposes specified at B.9 above.</p>

				<p>4. Any Personal Data supplied by you will be retained by us and will be accessible by our employees, any Service Providers engaged by us.</p>

				<p>5. All Voluntary Information may be made publicly available on the Sites and therefore accessible by any internet user. Any Voluntary Information that you disclose to us becomes public information and you relinquish any proprietary rights (including but not limited to the rights of confidentiality and copyright) in such information. You should exercise caution when deciding to include personal or proprietary information in the Voluntary Information that you submit to us.</p>

				<p>6. We may share your Account Information with banks or vendors to enable your transactions on the Sites to be completed. In addition, we may use your Account Information to determine your credit-worthiness and, in the process of such determination, we may need to make such Account Information available to banks or credit agencies. While we have in place up-to-date technology and internal procedures to keep your Account Information and other Personal Data secure from intruders, there is no guarantee that such technology or procedures can eliminate all of the risks of theft, loss or misuse.</p>

				<p>7. We may provide statistical information to third parties, but when we do so, we do not provide personally-identifying information without your permission.</p>

			

				 
				<h3 class="the_header">CHANGES TO THIS PRIVACY POLICY</h3> <hr/>

				 

				<p>Any changes to this Privacy Policy will be communicated by us posting an amended and restated Privacy Policy on the Sites. Once posted on the Sites the new Privacy Policy will be effective immediately. You agree that any information we hold about you (as described in this Privacy Policy and whether or not collected prior to or after the new Privacy Policy became effective) will be governed by the latest version of the Privacy Policy.</p>

				 

				<h3 class="the_header">YOUR FEEDBACK </h3> <hr/>

				 

				<p>We welcome your input regarding our Privacy Policy and any comments on the services we provide to you. You may send us your comments and responses by post to: The  Department, eBuymyanmar.com.com eBuyMyanmar company Limited, No. 221/59, 1 st /2 nd /3 rd Floor, Shwe Wah Myay Street, Baho Middle Road, Mayangone Township,Yangon, Myanmar.</p>

			

  		 

  		 </div>

  </div>
</div>