<div style="height:900px;">

<div class="row">

  <div class="col-md-12">

	<h4 class="detailpage_link">
		Home > Product Category > Product Name > Product Code  
	</h4>

  </div>

  <div class="container">
  		<div class="col-md-5">
  				<!-- product image -->
  		</div>

  		<div class="col-md-7">

  		  <div id="product_background">
  		  	 <p id="product_name"> Product name Product name Product name Product name
  		  	 Product nameProduct nameProduct name Product name Product name Product nameProduct name</p>
  		  </div>


  		  <br/>
  		  <table style="width:100%">
			  
			  <tr >
			    <td> Retail Price</td>
			    <td> 70000 Ks</td> 
			  </tr>
			  <tr>
			    <td> Discount Price</td>
			    <td> 60000 Ks</td> 
			  </tr>

		   </table><hr/>

		   <table style="width:92%">
			  
			  <tr>
			    <td> Shipping From</td>
			    <td> 70000 Ks</td> 
			  </tr>
			  <tr>
			    <td> Delivery Rate</td>
			    <td> 60000 Ks</td> 
			  </tr>

			   <tr>
			    <td> Estimated Delivery</td>
			    <td> 60000 Ks</td> 
			  </tr>

			  <tr>
			    <td> Delivery Service</td>
			    <td> 60000 Ks</td> 
			  </tr>
			  
		   </table ><hr/>

		    <table style="width:130%">
			  
			  <tr>
			    <td> Quantity</td>
			    <td> 70000 Ks</td> 
			  </tr>
			  <tr>
			    <td> Size</td>
			    <td> 60000 Ks</td> 
			  </tr>

			   <tr>
			    <td> Color</td>
			    <td> 60000 Ks</td> 
			  </tr>

		   </table><br/>

		   <br/>
		   <button type="button" id="btn_checkout" class="btn btn-danger"> Buy Now</button>
		   <button type="button" id="btn_checkout" class="btn btn-primary"> Add to Cart</button>
		   <button type="button" id="btn_checkout" class="btn btn-info"> Add to whish list</button>
		   <button type="button" id="btn_checkout" class="btn btn-default"> Share this item</button>


  			<br/><br/><br/>
  		</div>





		<div class="container">

		  <!-- Nav tabs -->
		  <div>

			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active" id="tab_detail"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="detail_tab_title"> Product Detail</a></li>
			    <li role="presentation" id="tab_detail"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="detail_tab_title"> Customer Review </a></li>
			    <li role="presentation" id="tab_detail"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="detail_tab_title"> Question & Answer</a></li>
			    <li role="presentation" id="tab_detail"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab"class="detail_tab_title" > Notice & Policy</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content">
			    <div role="tabpanel" class="tab-pane active" id="home">...</div>
			    <div role="tabpanel" class="tab-pane" id="profile">...</div>
			    <div role="tabpanel" class="tab-pane" id="messages">...</div>
			    <div role="tabpanel" class="tab-pane" id="settings">...</div>
			  </div>
		  </div>

		</div>


  </div>


</div>


</div>