
<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  			<h3 class="the_header"><%= t('Shipping and Delivery') %></h3><hr/>
  		</div>

  		 <div class="col-md-12">




				<p>IAfter you have made successful payment or transaction, the company will proceed to make purchase order from manufacturers/supplies and will serve for shipping and home delivery of the products to the you as per schedule.</p>

				<p>The estimated delivery period for the item is mentioned at 'Estimated Delivery' in the product page of each product. The company will notify you by email as well. The company will try its best to serve you for faster delivery.</p>



  		 </div>

  </div>
</div>

<br/><br/><br/><br/>