<div class="row">
  <div class="col-md-12">
  		 <div class="col-md-12">
  				
<h3 class="the_header">Terms and Conditions</h3><br/>
<h3 class="the_header">1. Payment</h3><br/>
<b>1.1 Cash Deposit</b><br/>
<p>If "Cash Deposit" is chosen for payment of purchased products, email with invoice will be sent out to your registered mail and full cash amount has to be made at eBuy Myanmar office as soon as possible. Company will proceed for order, shipping and delivery of  purchased products once full payment has been received.</p><br/>

<b>1.2 Bank Transfer</b><br/>
<p>If "Bank Transfer" is chosen for payment of purchased products, email with invoice will be sent out to your registered mail and full transaction amount has to be made as soon as possible via bank transfer to the bank accounts mentioned at invoice. Company will proceed for order, shipping and delivery of  purchased products once full payment has been received.<br/>
For "Bank Transfer " option, you can personally go to respective bank outlets for making transaction or can transfer via internet banking. After making transaction, you'll have to inform the company by using text message or making a call to inform that transaction has been completed.</p>
<br/>

<b>1.3 MPU</b><br/>
<p>You are required to fill up the datas stated on your card carefully without mistakes. The currency for the use of MPU card is Myanmar Kyats, "MMK".</p><br/>

<b>1.4 Visa/Master </b><br/>
<p>You are required to fill up the datas stated on your card carefully without mistakes. The currency for the use of Visa/Master card is US Dollars, "USD".</p><br/>



<h3 class="the_header">2. Shipping and Delivery</h3><br/>
<p>After you have made successful payment or transaction, the company will proceed to make purchase order from manufacturers/supplies and will serve for shipping and home delivery of the products to the you as per schedule.</p>
<p>The estimated delivery period for the item is mentioned at "Estimated Delivery " in the product page of each product. The company will notify you by email as well. The company will try its best to serve you for faster delivery.</p>



<h3 class="the_header">3. Cancel and Refund </h3><br/>
<p>You may cancel your purchased order with the following two options.</p>
<p> <b>3.1</b> If the purchased product is to be shipped from local seller, you may cancel your purchased item within 8 hours after you have submitted for purchase. For cancellation, please click "My Account" at home page, and go to "My Shopping List". Then click "Cancel Order" beside the product that you wish to cancel. </p>
<p>eBuy Myanmar will not accept cancellation request after 8 hours of submitting purchase order.</p>
<p><b>3.2</b> If the purchased product is to be shipped from overseas seller, you will not be able to cancel it from eBuy Myanmar page. You are required to contact the company as soon as possible and request for cancellation.
If you have made successful cancellation request for your purchase item and you also have made payment for the item previously, the company will contact you as soon as possible for the refund.
</p>


<h3 class="the_header">4. Exchange and Return </h3><br/>
<p>You may return your purchased and delivered product to the company within 7 days due to manufacturer's fault and the company will make a new order for exchange/replacement of your product.</p>
<p>However, the company will not accept for return and exchange of the purchased and delivered products due to user's fault and the the item returned after 7 days upon delivery.</p>
<br/>       



  		</div>
  </div>
</div>



    
  

