  <div class="row">


   <div class="container" >




					<h3>BANK ACCOUNT FOR BANK TRANSFER </h3><br/>

					<p><b>1.AYA BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>0004202012564091</p>

					<p><b>2.KBZ BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>045-301-04502556101</p>

					<p><b>3.CB BANK SAVINGS ACCOUNT NUMBER</b></p>		
					<p>0087600100017485</p>



   </div>
   </div>