  <div class="row">
  <div class="container" >
			<div class="well well-lg">
				<b> Thanks you. Your oder is now submitted. </b>
			</div> 
  </div>


   <div class="container" >

		<h3> The toal cash will collected at delivery time. </h3><br/>

   </div>
   </div>