  <div class="row">
  <div class="container" >
			<div class="well well-lg">
				<b>
          Your purchase is completed. Please refer to the invoice that we have sent to your mail or your viber/whatsapp/fb messenger contact(s).    
        </b>
			</div> 
  </div>


   </div>