  <div class="row">



   <div class="container" >

		<h3> This is cash deposit method. </h3><br/>
        <h3 class="the_header"><%= t('office_address') %></h3><hr/>
            <%= t('office_address_1') %> <br/>
            <%= t('office_address_2') %> <br/>
            <%= t('office_address_3') %><br/>

      <br/><br/><br/>


   </div>
   </div>