#add_product{
	float: right;
}


#product_specs{
	position: relative;
	padding-top: 10px;
}


#product_product_category{


	display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

  

}


  .custom-combobox {
    position: relative;
    display: inline-block;
  }
  .custom-combobox-toggle {
    position: absolute;
    top: 0;
    bottom: 0;
    margin-left: -1px;
    padding: 0;
  }
  .custom-combobox-input {
    margin: 0;
    padding: 5px 10px;
  }


.ui-button{
	height: 34px;
	position: relative;
	top: -1px;
}



#blah1, #blah2, #blah3, #blah4, #blah5{
  height: 100px;
  width: 100px;
}


#product_image_info{
  height: 200px;
  width: 200px;
  border: 1px solid #ccc;
}




#blah5_product, #blah4_product, #blah3_product, #blah2_product, #blah2_product, #blah1_product{

 height: 100px;
  width: 100px;

}


.question{
  font-size: 13px;
  color: black;
  font-weight: bold;
}


.answer{
  font-size: 13px;
  color: gray;
  font-weight: bold;
}


#running{
  background-color: #4cae4c;
  color:white;
  width: 100%;
  text-align: center;
}


#expire{
  background-color: #d9534f;
  color:white;
  width: 100%;
  text-align: center;
}