
@media (max-width: 767px)  {


#desktop_view{

	display: none;
}


#mobile_view {
	display: block;
	height: 1000px;

}


#mobile_view_home {
		display: block;
}



.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}


.navbar-brand {
	margin-left: -10px;
	font-color: white;
}

.nav_text{
	color: white;
	font-size: 12px;
}


.btn-default{

	height: 34px;


}


#mobile_logo_img{

	position: relative;
	top: -22px;

}



#panel_header{


   background:rgba(0,0,0,0.5);
    color: white;

}


#second_navbarmobile{
	background:#3498DB;
	position: relative;
	top: -22px;
	height: 40px;

}


#carousel-example-generic{

	position: relative;
	top: -22px;

}


#mobile_menu_link{
	position: relative;
	top: 8px;
	padding-left: 10px;

}


}



