
@media (max-width: 767px)  {


#desktop_view{

	display: none;
}


#mobile_view {
	display: block;


}


#mobile_view_home {
		display: block;
}

#small_slide {
    
    width:250px;
    height:180px;

}



.navbar-toggle.navbar-left {
  float: left;
  margin-left: 10px;
}


.navbar-brand {
	margin-left: -10px;
	font-color: white;
}

.nav_text{
	color: white;
	font-size: 12px;
}


.btn-default{

	height: 34px;


}


#mobile_logo_img{

	position: relative;
	top: -10px;

}



#panel_header{


   background:white;
    color: white;
    opacity: 150;

}


#second_navbarmobile{

	background:#3498DB;
	position: relative;


	/*	top: -895px;*/
	height: 40px;

}


#carousel-example-generic{

	position: relative;
/*	top: -895px;*/

}


#mobile_menu_link{
	position: relative;
	top: 8px;
	padding-left: 10px;

}


#product_title_mobile{
	font-size: 12px;
	text-align: center;
	color: #337ab7;

}

#product_title_price{
	font-size: 12px;
	text-align: center;
	color: #E74C3C;

}


.menu_title_mobile{
	color: white;
	font-size: 14px;
}


#avatar_mymobile_product1,#avatar_mymobile_product2,#avatar_mymobile_product3,#avatar_mymobile_product4,#avatar_mymobile_product5{

	height: 56px;
	width: 55px;
	border: 1px solid #e5e5e5;

	margin-top: 21px;
	border-style: 1px solid #eee;

}



#receive_myimg{
	height: 405px;
	width: 380px;
	position: relative;
	left: 35px;
	background-color: #e5e5e5;
	border: 1px solid #eee;


}


body{
	min-height: 100px;
}


}



