body{


overflow-y: scroll;
overflow-x: hidden;




}


#mynav{
 background-color: #E74C3C;
}



#my_logo{
	position: relative;
	left: 20px;
	height: 150px;
}


#ebuy_title{
	font-size: 35px;
	color: #3498DB;
	position: relative;
    left: -35px;
    top: -20px;

}


#ebuy_second {

	color: #3498DB;
	font-size: 15px;
	font-weight: bold;
	position: relative;
    left: 10px;
    top: -20px;
}



#menulink {
	color: white;
	font-size: 11px;


}

#menu_header{

 background-color: #3498DB;
 position: relative;
 top: -18px;

}





#my_navfooter{

	background:#3498DB;

	height: 300px;


}



#nav_menua{

	width: 25%;
	float:left;
	text-align: left;
}


#nav_menub{

	width: 25%;
	float:right;
	text-align: left;
}


.nav_menu_title {
	color: white;
	font-weight: bold;
	padding-left: 55px;
	padding-top: 20px;
}


#payment_footer {
	height: 120px;
	margin: -10px;


}


#link_footer {


   margin: -10px;

}


#header {
	color: #3498DB;
	padding-left: 20px;
	font-size: 12px;

}

#copy_right {
	text-align:center;
	position:relative;
	left:70px;
	color: #3498DB;
	font-size: 12px;
}


#website_name{
	color: #E74C3C;
	font-weight: bold;
	position: relative;
	left: 10px;
	top: 8px;

}

#search_row{


	position: relative;
	top: -50px;
	

}


#slider1{
	height: 320px;
}



.fonter_headtitle{
	color: white;
	font-size: 19px;
	font-weight: bold;
	padding-top: 10px;
}

.fonter_head2title{
	color: #3498DB;
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}



.fonter_menutitle{
	color: white;
	font-size: 16px;
	padding-top: 10px;
}

.view_on_mobie {
	position: relative;
	float: right;
	color: #3498DB;
	font-size: 18px;
}

#payment_logo{
	height: 100px;
}

#product_title{

	color: #3498DB;
	font-size: 18px;
	text-align: center;

}

#product_price{

	color: #E74C3C;
	font-size: 18px;
	text-align: center;

}

.the_header {
	font-size: 16px;
	color: #3498DB;
	font-weight: bold;
}


.quick_help_link{
	font-size: 16px;
	font-weight: bold;
}



.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}


#arrow_crousel {
	top: 65px;
}


.detailpage_link {
	color: #3498DB;
	font-weight: bold;
	text-align: left;
	padding-left: 40px;
}


#product_background {
	background-color: #dce6f2;
	height: 60px;
}


#product_name {
	padding:10px;
	color: #0472c1;
	font-weight: bold;
}


#btn_checkout{

	width: 98%;
}

.detail_tab_title{
	color: white;
	font-size: 18px;
	text-align: center;
}


#tab_detail{
	background-color: #0070c0;
	width: 25%;
}


li .active {
	background-color: red;
}


#search_parm{
	padding-left: 50px;
}


#search_result_height{

	height: 1800px;

}


#myhomeslider{
	position: relative;
	bottom: 38px;
}

#arrow_crousel_home {

	position: absolute;
	top: 145px;
}



#slider_home_title{

	padding:10px;
	color: #0472c1;
	font-weight: bold;
}


#small_slide {
	margin: 10px;
}


#carousel-example-generic_small {
  margin: -8px;
  margin-left: -36px;

}

.mydetail_title{
	color: #0472c1;

}


#buyer_comment{
	font-size: 16px;
	padding-top: 10px;
}


#comment_buyer_comment {

	margin-top: 20px;
}


#faq_title{
	font-size: 16px;
	font-weight: bold;
}


#register_btn,
#sign_in_btn,
#my_account_btn,
#my_coupon_btn,
#my_cart_btn,
#how_to_buy_btn,
#payment_btn,
#shipping_btn,
#cancel_refund_btn,
#exchange_btn,
#sell_item_btn,
#faq_btn,
#bank_transfer_btn {

	cursor: pointer;
}


#coupon_code{
	height: 35px;
}