body{


overflow-y: scroll;
overflow-x: hidden;




}


#mynav{
 background-color: #E74C3C;
}



#my_logo{
	position: relative;
	left: 20px;
	height: 150px;
}


#ebuy_title{
	font-size: 35px;
	color: #3498DB;
	position: relative;
    left: -35px;
    top: -20px;

}


#ebuy_second {

	color: #3498DB;
	font-size: 15px;
	font-weight: bold;
	position: relative;
    left: 10px;
    top: -20px;
}



#menulink {
	color: white;
	font-size: 11px;
	


}

#menu_header{

 background-color: #3498DB;
 position: relative;
 top: -18px;

}





#my_navfooter{

	background:#3498DB;

	height: 300px;


}



#nav_menua{

	width: 25%;
	float:left;
	text-align: left;
}


#nav_menub{

	width: 25%;
	float:right;
	text-align: left;
}


.nav_menu_title {
	color: white;
	font-weight: bold;
	padding-left: 55px;
	padding-top: 20px;
}


#payment_footer {
	height: 120px;
	margin: -10px;


}


#link_footer {


   margin: -10px;

}


#header {
	color: #3498DB;
	padding-left: 12px;
	font-size: 12px;

}

#copy_right {
	text-align:center;
	position:relative;
	left:70px;
	color: #3498DB;
	font-size: 12px;
}


#website_name{
	color: #E74C3C;
	font-weight: bold;
	position: relative;
	left: 10px;
	top: 8px;

}

#search_row{


	position: relative;
	top: -50px;
	

}


#slider1{
	height: 320px;
}



.fonter_headtitle{
	color: white;
	font-size: 19px;
	font-weight: bold;
	padding-top: 10px;
}

.fonter_head2title{
	color: #3498DB;
	font-size: 22px;
	font-weight: bold;
	padding-top: 10px;
}



.fonter_menutitle{
	color: white;
	font-size: 16px;
	padding-top: 10px;
}

.view_on_mobie {
	position: relative;
	float: right;
	color: #3498DB;
	font-size: 18px;
}

#payment_logo{
	height: 100px;
}

#product_title{

	color: #3498DB;
	font-size: 18px;
	text-align: center;

}

#product_price{

	color: #E74C3C;
	font-size: 18px;
	text-align: center;

}

.the_header {
	font-size: 16px;
	color: #3498DB;
	font-weight: bold;
}


.quick_help_link{
	font-size: 16px;
	font-weight: bold;
}



.carousel-control.left, .carousel-control.right {
   background-image:none !important;
   filter:none !important;
}


#arrow_crousel {

	top: 65px;
	margin: -10px;
	width: 10px;
	
}


.detailpage_link {
	color: #3498DB;
	font-weight: bold;
	text-align: left;
	padding-left: 40px;
}


.detailpage_link_red {
	color: white;
	font-weight: bold;
	text-align: center;
	background-color:#d43f3a;
	height: 50px;
	padding-top: 10px;
	position: relative;
	top: -45px;

}



#product_background {
	background-color: #dce6f2;
	height: 60px;
}


#product_name {
	padding:10px;
	color: #0472c1;
	font-weight: bold;
}


#btn_checkout{

	width: 98%;
}

.detail_tab_title{
	color: white;
	font-size: 18px;
	text-align: center;
}


#tab_detail{
	background-color: #0070c0;
	width: 25%;
}


li .active {
	background-color: red;
}


#search_parm{
	padding-left: 50px;
}


#search_result_height{

	height: 1800px;

}


#myhomeslider{
	position: relative;
	bottom: 38px;
}

#arrow_crousel_home {

	position: absolute;
	top: 145px;
}



#slider_home_title{

	padding:10px;
	color: #0472c1;
	font-weight: bold;
}


#small_slide {
	margin: 10px;
}


#carousel-example-generic_small {
  margin: -8px;
  margin-left: -36px;

}

.mydetail_title{
	color: #0472c1;

}


#buyer_comment{
	font-size: 16px;
	padding-top: 10px;
}


#comment_buyer_comment {

	margin-top: 20px;
}


#faq_title{
	font-size: 16px;
	font-weight: bold;
}


#register_btn,
#sign_in_btn,
#my_account_btn,
#my_coupon_btn,
#my_cart_btn,
#how_to_buy_btn,
#payment_btn,
#shipping_btn,
#cancel_refund_btn,
#exchange_btn,
#sell_item_btn,
#faq_btn,
#bank_transfer_btn {

	cursor: pointer;
}


#coupon_code{
	height: 35px;
}






#mobile_view {

 display: block;


}






.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {


background-color: #0472c1;

}



#avatar_mobile_product1,#avatar_mobile_product2,#avatar_mobile_product3,#avatar_mobile_product4,#avatar_mobile_product5{

	height: 56px;
	width: 55px;
	border: 1px solid #e5e5e5;

	margin-top: 21px;
	border-style: 1px solid #eee;

}







#receive_img{
	height: 405px;
	width: 380px;
	position: relative;
	left: 35px;
	background-color: #e5e5e5;
	border: 1px solid #eee;


}


#other_productdv{
	height: 250px;
}



#view_img{
	position: relative;

	left: 140px;
}


#footer_button{

	width: 130%;
	height: 50px;

}


#myCarousel1,#myCarousel8,#myCarousel6,#myCarousel4,#myCarousel5,#myCarousel4,#myCarousel3,#myCarousel7,#myCarousel2, #myCarouse2{
	height: 200px;
}


#myProductSize,#myProductColor{
	background-color: white;
	color: gray;
	margin-top: 5px;
}


#zoom_pic{
	height: 250px;
	width: 250px;
}


#zoom_pic_small_1,#zoom_pic_small_2,#zoom_pic_small_3,#zoom_pic_small_4,#zoom_pic_small_5{
	height: 70px;
	width: 70px;
}


#all_the_categories{
	display: none;
	
    position: relative;
	bottom: 38px;

}



#first_category {
	height: 280px;
}


#second_category {
	height: 220px;
}


#third_category {
	height: 340px;
}


#fourth_category {
	height: 100px;
}


#fifth_category {
	height: 150px;
}


@media (min-width: 600px) {
  #mobile_view, #mobile_view_home {
    display: none; /* This is how it looks on desktop */
  }








}