<%= javascript_include_tag 'quill.js' %>


<div class="panel panel-default">
  <div class="panel-body">
    		<div class="col-md-12">
    		<h3>Edit Product</h3>
    		<hr/>
    		</div>
			   <%= render 'form' %>
  </div>
</div>




<script>
  var editor = new Quill('#editor', {
    modules: { toolbar: '#toolbar' },
    theme: 'snow'
  });


  var editor_desc = new Quill('#editor_desc', {
    modules: { toolbar: '#toolbar_desc' },
    theme: 'snow'
  });




$("#mysubmitbutton").click(function(e) {
  e.preventDefault();


      var a = editor.container.firstChild.innerHTML;
      document.getElementById('product_notice').value = a;


       var b = editor_desc.container.firstChild.innerHTML;
      document.getElementById('product_description').value = b;


      var product_sizes = $('#tags span').text();
      document.getElementById('product_product_size').value = product_sizes.replace(",,", "");


      var product_colors = $('#tags_color span').text();
      document.getElementById('product_product_color').value = product_colors.replace(",,", "");


      
      $("#edit_product_<%= @product.id %>").submit();
});



</script>