<!DOCTYPE html>
<html>
<head>
  <title>Ebuymyanmar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

		<div id="my_header">




		</div>


		<div id="my_logoheader">




		</div>

		<div id="my_navheader">




		</div>



			<body>

			<%= yield %>

			</body>


		<div id="my_navfooter">


		</div>


</html>
